* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav div a {
  color: white !important;
  transition: 0.25s;
}

nav div a:hover {
  opacity: 0.7;
  transition: 0.25s;
}

body {
  -webkit-user-select: none;
  user-select: none;
  background-color: #0f172a !important;
  color: white !important;
  /* margin-top: 20px;
  color: #bcd0f7;
  background: #1A233A; */
}

.left-0 {
  left: 0;
}

.hljs {
  padding: 0.6rem 2rem;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: all 0.2s;
}

.hljs:hover {
  border-color: #ff4754;
}

main, form {
  padding: 100px 120px !important;
  width: 100%;
}

.right-10px {
  right: 10px;
}

.top-5px {
  top: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.info_user {
  max-width: 100px;
}

.info_user span {
  word-break: break-all;
}

.fit-content {
  width: fit-content;
}

.border {
  border-radius: 0 !important;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar svg {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

.card, .card-home {
    background: #1e293b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    color: white;
}

.form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
}

.code, img {
  min-width: 300px;
}

/* .tag a {
  background-color: #292D3D;
  color: white;
  padding: 7px;
  text-decoration: none;
  border-radius: 10px;
} */

.line {
  padding-top: 40px;
  position: absolute;
  left: 20px;
  line-height: 22.5px;
  color: #64748b;
}

pre code {
  padding-left: 60px !important;
  border-left: 4px solid #64748b !important;
}

code, .line {
  font-size: 15px !important;
}

.info_user svg {
  width: 100px !important;
  height: 100px !important;
}

.w-90 {
  width: 90%;
}

code {
  padding: 40px 0 !important;
  padding-right: 25px !important;
}

pre {
  width: 100% !important;
}

.code i {
  color: white !important;
}

.like-content span {
  cursor: pointer;
}

.like-content span:hover {
  opacity: 0.7;
}

#prefixId {
  background-color: #0f172a !important;
  color: white;
  border-color: #596280;
}

.form-control::placeholder {
  color: white !important;
}

.form-control:focus::placeholder {
  color: black !important;
}

.container-fluid, nav {
  background-color: #0f172a;
}

button {
  white-space: nowrap;
}

.btn-user {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .container div:first-child {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 900px) {
    .column {
      flex-direction: column !important;
    }

    .w-responsive-100 {
      width: 100%;
    }
}

@media screen and (max-width: 800px) {
    ul {
      flex-direction: column;
    }

    ul .first-child {
      margin: auto;
    }

    main, form {
      padding: 100px 16px !important;
    }
}