* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  user-select: none;
  /* margin-top: 20px;
  color: #bcd0f7;
  background: #1A233A; */
}

.left-0 {
  left: 0;
}

.hljs {
  padding: 0.6rem 2rem;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: all 0.2s;
}

.hljs:hover {
  border-color: #ff4754;
}

main, form {
  padding: 100px 120px !important;
  width: 100%;
}

.right-10px {
  right: 10px;
}

.top-5px {
  top: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.info_user {
  max-width: 100px;
}

.info_user span {
  word-break: break-all;
}

.fit-content {
  width: fit-content;
}

.border {
  border-radius: 0 !important;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}

.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar svg {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
}

.account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
}

/* .card {
    background: #272E48;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
} */

/* .form-control {
    border: 1px solid #596280;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #1A233A;
    color: #bcd0f7;
} */

.code, img {
  min-width: 300px;
}

@media screen and (max-width: 800px) {
    ul {
      flex-direction: column;
    }

    ul div:first-child {
      margin: auto;
    }

    main, form {
      padding: 100px 16px !important;
    }
}