* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-0 {
  left: 0;
}

.hljs {
  padding: 0.6rem 2rem;
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transition: all 0.2s;
}

.hljs:hover {
  border-color: #ff4754;
}

main, form {
  padding: 100px 120px !important;
}